<head>
    <script src='tablesort.min.js'></script>
    <link href='tablesort.css' rel='stylesheet'></link>
    <script src='tablesort.number.min.js'></script>
</head>
<body>
<h1>Here is the cheapest option: </h1>

							<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th></th>
											<th>Product Name</th>
											<th>Price</th>
											<th>Rating</th>
											<th>Advice</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><span class="image"><img src={{AmzImg}} alt="" /></span></td>
											<td><a href= {{BestLink}}> {{BestName}}</a></td>
											<td>{{CurrSymbol}}{{BestPrice}}</td>
											<td>{{Rating}}</td>
											{{#if savings}}
											<td>You save {{CurrSymbol}}{{PriceDiff}} by purchasing this item on {{BestSite}}!</td>
											{{/if}}
											{{#unless savings}}
											<td>Buy it in the store!</td>
											{{/unless}}
										</tr>
									</tbody>
								</table>
							</div>
							
<table id='sort' class='sort'>
	
    <thead>
        <tr>

            <th>Website</th>
            <th>Product Name</th>
            <th data-sort-default data-sort-method="number" >Price</th>
        </tr>
    </thead>
    <tbody>
    {{#each sites}}
	<tr>
		{{#if this}}
        <td>{{this.source}}</td>
        <td><a href= {{link}}>{{name}}</a></td>
		<td>{{../../CurrSymbol}}{{price}}</td>
		{{/if}}
    </tr>
	{{/each}}
</table>

<h3>Get your results emailed!</h3>
<div class="content">
<form class="form-horizontal" role="form"
	action ="/saveresult" method="POST">
	<div class="row uniform 50%">
									<div class="8u 12u$(xsmall)">
										<input type="text" name="email" id="email" value="" placeholder="Email Address" />
									</div>
									
	<div class="form-group">
			<button type="submit" class="button alt small">Send</button>
	</div>
</form>
</div>

<h3>Didn't find what you're looking for?</h3>
<div class="content">
<form class="form-horizontal" role="form"
	action ="/process?form=search" method="POST">
	<div class="row uniform 50%">
									<div class="8u 12u$(xsmall)">
										<input type="text" name="prodName" id="prodName" value="" placeholder="Product Name" />
									</div>
									
									<div class="2u 12u$(xsmall)">
										<input type="text" name="prodPrice" id="prodPrice" value="" placeholder="Price" />
									</div>
									
									<div class="2u$ 12u$(xsmall)">
										<div class="select-wrapper">
											<select name="currency" id="currency">
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
												<option value="MYR">MYR</option>
												<option value="THB">THB</option>
												<option value="PHP">PHP</option>
												<option value="CNY">CNY</option>
												<option value="HKD">HKD</option>
												<option value="KRW">KRW</option>
												<option value="EUR">EUR</option>
												<option value="GBP">GBP</option>
												<option value="NZD">NZD</option>
												<option value="JPY">JPY</option>
											</select>
										</div>
									</div>
	</div>
	<div class="form-group">
		
			
			<button type="submit" class="button alt big">Search</button>
	
	</div>
</form>
</div>

<script>
    new Tablesort(document.getElementById('sort'));
</script>
</body>