{{!<script src='tablesort.min.js'></script>
<link href='./tablesort.css' rel='stylesheet'>

<script src='tablesort.number.js'></script>
<script src='tablesort.date.js'></script>

<script>
    new Tablesort(document.getElementById('table-id'));
</script>}}

<h1>Results Page</h1>
<p>Here is the cheapest option: </p>

<h2>Product Name: {{AmazName}}</h2>
<h3>Price: {{AmazPrice}}</h3>

{{! Table for the prices and stuff?}}

<table>
    <tr>
        <th>Website</th>
        <th>Product Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Amazon</td>
        <td>{{AmazName}}</td>
        <td>{{AmazPrice}}</td>
    </tr>
    <tr>
        <td>Lazada</td>
        <td>{{LazName}}</td>
        <td>{{LazPrice}}</td>
    </tr>
    <tr>
        <td>Sephora</td>
        <td>{{SephName}}</td>
        <td>{{SephPrice}}</td>
    </tr>
</table>
