<head>
    <script src='tablesort.min.js'></script>
    <link href='tablesort.css' rel='stylesheet'></link>
    <script src='tablesort.number.min.js'></script>
</head>
<body>
<h1>Results Page</h1>
<h2>Here is the cheapest option: </h2>

<h4>Product Data</h4>
							<div class="table-wrapper">
								<table class="alt">
									
									<tbody>
										<tr>
											<td><span class="image"><img src={{AmzImg}} alt="" /></span></td>
											<td><a href= {{BestLink}}> {{BestName}}</a></td>
											<td>{{BestPrice}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							
<table id='sort' class='sort'>
	
    <thead>
        <tr>

            <th>Website</th>
            <th>Product Name</th>
            <th data-sort-default>Price</th>
        </tr>
    </thead>
    <tbody>
    {{#each sites}}
	<tr>
		{{#if this}}
        <td>{{this.source}}</td>
        <td><a href= {{link}}>{{name}}</a></td>
		<td>${{price}}</td>
		{{/if}}
    </tr>
	{{/each}}
</table>

<h4>Search again?</h4>
<div class="content">
<form class="form-horizontal" role="form"
	action ="/process?form=search" method="POST">
	<div class="form-group">
		<h5>Entering in the brand and product name will provide better results!</h5>
		<div class="col-sm-4">
			<input type="text" class="form-control"
			id="prodName" name="name">
		</div>
	</div>
	<div class="form-group">
		
			
			<button type="submit" class="button alt big">Search</button>
	
	</div>
</form>
</div>

<script>
    new Tablesort(document.getElementById('sort'));
</script>
</body>